#navigationBar {
	margin: 3% 3% 1% 3%;
	background-color: pink;
	border: 3px solid black;
	padding: 10px;
}

.navElement {
	border-right: 2px solid black;
	padding: 0 2px 0 2px;
}

#songFilter {
	background-color: teal;
	border: 3px solid black;
	display: inline-block;
	width: 20%;
	margin-left: 3%;
	height: 350px;
	max-height: 350px;
}

#songsFound {
	background-color: tan;
	border: 3px solid black;
	float: right;
	width: 70%;
	margin-right: 3%;
	text-align: left;
	height: 350px;
}

.songInfo > span {
	border-right: 1px solid black;
	padding: 0px 5px 0px 5px;
}
